#root {
  margin: 0 auto;
  text-align: center;
}

.UEr2vBzTI8IAFLm3nXKg{
  margin-left: 0px !important;
}

.tree-view {
  font-family: Arial, sans-serif;
}

.tree-node {
  color: black;
}

.tree-node__label {
  display: flex;
  align-items: center;
}

.tree-node__label--clickable {
  cursor: pointer;
}

.tree-node__icon {
  margin-right: 5px;
  font-weight: bold;
}

.tree-node__icon--expanded::before {
  content: '-';
}

.tree-node__icon--collapsed::before {
  content: '+';
}

.tree-node__children {
  margin-left: 20px;
}

hr.solid {
  margin-top: 20px;
  border-top: 1px solid #bbb;
}

.go4109123758{
  background-color: transparent !important;
}